<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<!-- <center> -->
	<font color="rgb(77,77,77)" size="6" style="font-family:'Times New Roman', Times, serif">

		<h1 style="color: rgb(175, 167, 162)">Employee Database</h1>

		<body bgcolor="#080808">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				

		  		Employee ID: <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		First Name: <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" > &nbsp; &nbsp Last Name: <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		

		  		Primary Skills: <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Location: <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

		  		Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>
				<p>
					<button type="submit" style="background: rgb(173, 57, 57); height: 45px; width: 200px; color: rgb(32, 30, 30); size: 5; font:oblique;">UPDATE DATABASE</button> <br>
					<button type="submit" formaction="/getemp" style="background: rgb(173, 57, 57); height: 45px; width: 200px; color: rgb(32, 30, 30); font:oblique;">RETRIEVE EMPLOYEE INFORMATION</button>
				</p>
			</form>
<!-- <a href="/about">About Us</a> -->
		</body>

	</font>
<!-- </center> -->
</html>
